{% extends 'base.html' %}
{% block title %}Главная {% endblock %}
{% block pagetitle %} Главная {% endblock %}

{% block content %}
<h1>О службе</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet animi asperiores at commodi ea eaque et
    eveniet ex exercitationem explicabo facere id illo inventore ipsum iure iusto magnam maiores molestias nesciunt
    nihil nisi, non omnis optio praesentium quam quisquam quod recusandae similique! Esse obcaecati, soluta? Expedita,
    possimus provident.</p>
<hr>
<h3>История</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad atque ducimus facere, harum minima
    molestias, nesciunt provident quo ratione recusandae reprehenderit rerum? Accusamus, ad cupiditate earum hic impedit
    laboriosam minima mollitia nostrum quia quo ratione rem repudiandae, sequi voluptates voluptatum! Architecto beatae
    corporis impedit nisi odit? A accusamus amet architecto atque beatae cupiditate delectus dolorem earum est, harum id
    iure magnam nesciunt, pariatur perspiciatis quidem sapiente temporibus ullam unde ut veritatis vero, voluptatum.
    Accusantium atque cumque earum error explicabo fugit id, illum impedit ipsa necessitatibus neque officiis omnis quo,
    reprehenderit rerum tenetur vero? Architecto laboriosam nihil omnis optio? Dolore! Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Ad amet cupiditate, deleniti doloremque doloribus ea explicabo fuga illo iure
    molestiae, nemo nesciunt placeat quas qui, quidem veritatis voluptatum. Blanditiis deserunt dolores earum eos
    eveniet facilis fugiat inventore ipsum iste natus, numquam officiis perferendis quia quo recusandae reiciendis
    repudiandae ullam voluptas!</p>
<hr>
<h3>Руководители</h3>
<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, exercitationem?</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quod, sint.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eos eum explicabo neque non veniam.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, tenetur.</li>
</ul>
{% endblock %}