{% extends 'base.html' %}
{% block title %} Сотрудники {% endblock %}
{% block pagetitle %} Сотрудники {% endblock %}

{% block content %}

<div class="col-12 col-md-6 col-lg-12 mb-4" style="display: flex; ">

    <div class="card ms-auto me-auto" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNXKnphoGGjS8r3DF-YiphyyXwD4ZFG0X3Xw&usqp=CAU"
             class="card-img-top" alt="portret1">
        <div class="card-body">
            <h5 class="card-title">Азаматова Бермет</h5>
            <p class="card-text">Сотрудник года 2022</p>
        </div>
    </div>


    <div class="card ms-auto me-auto" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/15/c6/e2/15c6e288379a94addf0537c919d16edd.jpg"
             class="card-img-top" alt="portret2">
        <div class="card-body">
            <h5 class="card-title">Сардарбеков Белек</h5>
            <p class="card-text">Сотрудник месяца</p>
        </div>
    </div>


    <div class="card ms-auto me-auto" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/c9/f6/cb/c9f6cbe94c3ba0d6b14d380167245ee0.jpg"
             class="card-img-top" alt="portret3">
        <div class="card-body">
            <h5 class="card-title">Бактиярова Венера</h5>
            <p class="card-text">Руководитель года 2019</p>
        </div>
    </div>

</div>

{% endblock %}