{% extends 'base.html' %}
{% block title %} Контакты {% endblock %}
{% block pagetitle %} Контакты {% endblock %}

{% block content %}
<h4>Наш адрес</h4>
<p>г. Бишкек, проспект Манаса 548а</p>
<hr>
<h4>Телефон доверия</h4>
<p>+996 (312) - 555 - 444</p>
<hr>
<h4>Центр по оказанию услуг и приема граждан</h4>
<p>+996 (312) - 222 - 777</p>
<hr>
<h4>Электронный адрес</h4>
<p>koroche_birbalee@mail.com</p>
<hr>
<h4>График работы</h4>
<p><b>ПН - ПТ:</b> 09:00 - 18:00</p>
<p><b>СБ - ВС:</b> 12:00 - 16:00</p>
<hr>

{% endblock %}